{% load static %}
<!doctype html>
<html lang="de">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous">

    <title>DJANGO_APPS</title>

  </head>
  <body class="bg-dark">
    <div class="container">
      <!-- Überschrift -->
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="my-4 text-light"><a class="text-light"
              style="text-decoration: none;" href="{% url 'index' %}">DJANGO_APPS</a></h1>
        </div>
        <div class="col-auto">
          {% if request.user.is_authenticated %}
          <span class="text-light">Angemeldet als: {{ request.user.username }}</span>
          <a href="/logout" class="btn btn-warning m-2">Logout</a>
          {% else %}
          <a href="/login" class="btn btn-primary m-1">Login</a>
          <a href="/register" class="btn btn-warning">Register</a>
          {% endif %}
        </div>
      </div>

      <!-- Hier fügen wir unsere App Cards hinzu -->
      <div class="row">
        <center>
          {% for app in apps %}
          <div class="card mb-3" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ app.image_url }}" class="img-fluid rounded-start"
                  alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ app.name }}</h5>
                  <p class="card-text">{{ app.description }}</p>
                  <a href="{{ app.url }}" class="btn  btn-lg btn-success">Zur
                    App</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </center>
      </div>

      <!-- Footer-Leiste -->
      <div class="row">
        <div class="col text-center my-4">
          <a href="/impressum" class="text-light">Impressum</a> | <a
            href="/datenschutzerklaerung" class="text-light">Datenschutzerklärung</a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"></script>
  </body>
</html>
